/*---------------------COLORS---------------------*/
:root{
    --dk-plum-1:#2F2732;
    --dk-plum-2:#4C3C46;
    --dk-plum-3:#75545B;
    --dk-yellow-1:#E9A14F;
    --dk-yellow-2:#EFC676;
    --section-padding:2rem;
}
/*---------------------TEXT FORMATING---------------------*/
body {
    font-size: 16px;
    background-color: var(--dk-plum-2);
}
h1,p,li,a{
    font-family: pt-sans, sans-serif;
    font-style: normal;
    line-height: 1.3em;
    color: white;
    text-decoration: none;
}
h1 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}
p,li {
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
p{
    margin-bottom: 1rem;
}
li{
    padding-bottom: 1rem;
}
@media (min-width:640px) {
    h1 {
        font-size: 3rem;
    }
}
@media (min-width:1280px) {
    h1 {
        font-size: 3.5rem;
    }
}
/*---------------------SECTIONS---------------------*/

section {
    max-width: 700px;
}
section, .section:not(header) {
    padding:var(--section-padding) 0;
    margin:auto;
}
section h1 {
    margin-bottom: var(--section-padding);
}
@media (min-width:640px) {
    :root{
        --section-padding:3.5rem;
    }
}
@media (min-width:1280px) {
    :root{
        --section-padding:4rem;
    }
}
/*---------------------BANDED SECTIONS---------------------*/
section:nth-child(2n){
    background-color: var(--dk-plum-3);
    max-width: 100%;
}
section:nth-child(2n)>*{
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}
/*---------------------NAV---------------------*/
nav {
    background: var(--dk-plum-1);
    position: sticky;
    top:-1px;
}
nav ul {
    display: flex;
}
nav li {
    padding:1rem;
}
nav a {
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
}
li.active {
    color: var(--dk-plum-1);
    background: white;
}
nav li.active a{
    color:inherit;
}
@media (min-width:640px) {
    nav li {
        padding:2.5rem;
    }
}
/*---------------------HEADER---------------------*/
header {
    width: 100%;
    min-height: 100vh;
    background:black;
    /*image provided by Pexels and Pixabay*/
    background-image: url(../images/header_background_code_640x344.jpg);/*small screen*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    align-items:center;
    justify-content:center;
    padding:0;
      /* Create the parallax scrolling effect */
  background-attachment: fixed;
}
header h1 { /* my name in the header */
    color: #FFFFFF;
}
@media (min-width:640px) {
    header {
        min-height: 600px;
        background-image: url(../images/header_background_code_1280x688.jpg );
    }
}
@media (min-width:1280px) {
    header {
        background-image: url(../images/header_background_code_1920x1032.jpg );
    }
}
/*---------------------PROJECTS---------------------*/
/*MOBILE FIRST*/
#projects .section-body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -3rem;
}
project {
    flex: 1 0 100%;
    display: block;
    margin: 10px 0;
    margin-bottom: 3rem;
}
project a {
    display: flex;
    flex-direction: column;
}
project img {
    width: 100%;
    height: auto;
}
project .project-title {
    font-size: 2rem;
}
project button, project button:focus {
    background-color: var(--dk-yellow-1);
    color:white;
    font-weight: bold;
    font-size: .625rem;
    outline: none;
    border: 0;
    padding:1.2rem;
    text-align: center;
}
project button:active{
    background-color: #5b1212;
}
@media (min-width:640px) {
    #projects .section-body {
        margin: -10px;
    }
    project {
        flex-basis: 34%;
        margin: 10px;
        margin-bottom: 3rem;
    }
}
@media (min-width:640px) {
    project{
        flex-basis: 21%;
    }
}
/*---------------------FOOTER---------------------*/
footer{
    background-color: var(--dk-plum-1);
}
footer  ul{
    display: flex;
    justify-content: space-between;
}
footer{
    max-width: 100%;
}
footer>*{
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}