/*---------------------TEXT FORMATING---------------------*/
body {
    font-size: 16px;
}
h1,p{
    font-family: pt-sans, sans-serif;
    font-style: normal;
    line-height: 1.3em;
}
h1 {
    font-weight: 700;
    font-size: 2rem;
    color: black;
    text-align: center;
}
p,li {
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
@media (min-width:640px) {
    h1 {
        font-size: 3rem;
    }
}
@media (min-width:1280px) {
    h1 {
        font-size: 3.5rem;
    }
}
/*---------------------SECTIONS---------------------*/
section, .section:not(header) {
    padding:2rem;
}
section h1 {
    margin-bottom: 2rem;
}
@media (min-width:640px) {
    section, .section:not(header) {
        padding:5rem;
    }
    section h1 {
        margin-bottom: 3.5rem;
    }
}
@media (min-width:1280px) {
    section, .section:not(header) {
        padding:6.25rem;
    }
    section h1 {
        margin-bottom: 5rem;
    }
}
/*---------------------NAV---------------------*/
nav {
    background: #1C2A29;
}
nav ul {
    display: flex;
}
nav li {
    margin:40px;
}
nav a {
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#FFF;
}
/*---------------------HEADER---------------------*/
header {
    width: 100%;
    min-height: 100vh;
    background:black;
    /*image provided by Pexels and Pixabay*/
    background-image: url(../images/header_background_code_640x344.jpg);/*small screen*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    align-items:center;
    justify-content:center;
    padding:0;
}
header h1 { /* my name in the header */
    color: #FFFFFF;
}
@media (min-width:640px) {
    header {
        min-height: 600px;
        background-image: url(../images/header_background_code_1280x688.jpg );
    }
}
@media (min-width:1280px) {
    header {
        background-image: url(../images/header_background_code_1920x1032.jpg );
    }
}
/*---------------------PROJECTS---------------------*/
#projects .section-body {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
project {
    flex: 1 0 21%;
    display: block;
    margin: 0 10px;
}
project img {
    width: 100%;
    height: auto;
}